<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
form action="/register" method="post">
<label>User Name:</label>
<input type="text" name="username"/>
<br/><br/>
<label>Address:</label>
<input type="textarea" name="address"/>
<br/><br/>
<label>Email ID:</label>
<input type="email" name="email"/>
<br/><br/>
<label>Password:</label>
<input type="password" name="password"/>
<br/><br/>
<label>Mobile:</label>
<input type="number" name="mobile"/>
<br/><br/>
<label>Arriving Date:</label>
<input type="date" name="date"/>
<br/><br/>



<input type="submit" value="REGISTER"/>

</form>
</body>
</html>